<!--
<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

</form> 
-->
<div class="col-md-1">
</div>
<div class="col-md-5">
<br>
<br>
<br>
<br>
<center><h1>വരൂ മലയാളം പടിക്കു </h1></center>
<h2>Learn malayalam is website to teach malayalam in an easy way .If you are a new user please register and stay connected</h2>
<br>
<center><a href="/users/register"><button>REGISTER</button></a></center>

</div>
<div class="col-md-6">
<br>
<br>
<form role="form" action="/users/login" accept-charset="UTF-8" method="post" class="signup-form">
      <fieldset>
     <legend>Sign in</legend>
     <label for="user-email">username</label>
     <input type="text" placeholder="username" name="username"  required/>
     <label for="user-password">Password</label>
     <input placeholder="password" type="password" name="password" required/>
     <button type="submit">Sign in</button>
   </fieldset>
 </form>

</div>

